In [1]:
!pip install scikit-learn

Looking in indexes: http://ftp.daumkakao.com/pypi/simple
Requirement already satisfied: scikit-learn in /home/ubuntu/anaconda3/envs/tf/lib/python3.6/site-packages (0.23.2)
Requirement already satisfied: scipy>=0.19.1 in /home/ubuntu/anaconda3/envs/tf/lib/python3.6/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ubuntu/anaconda3/envs/tf/lib/python3.6/site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: numpy>=1.13.3 in /home/ubuntu/anaconda3/envs/tf/lib/python3.6/site-packages (from scikit-learn) (1.19.4)
Requirement already satisfied: joblib>=0.11 in /home/ubuntu/anaconda3/envs/tf/lib/python3.6/site-packages (from scikit-learn) (0.17.0)

In [2]:
import pandas as pd
from sklearn import datasets

In [3]:
iris = datasets.load_iris()

In [4]:
iris.data[:5], iris.feature_names

(array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2]]),
 ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'])

In [5]:
pd.DataFrame(iris.data,columns=iris.feature_names)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]